// Colors
$color-black: #0A0D0F;
$color-gray-10: #2A2A2A;
$color-gray-9: #4A4A4A;
$color-gray-8: #696969;
$color-gray-7: #919191;
$color-gray-6: #C6C6C6;
$color-gray-5: #DEDEDE;
$color-gray-4: #EDEDED;
$color-gray-3: #F6F6F6;
$color-gray-2: #FAFAFA;
$color-white: #FFFFFF;

// Mains
// https://coolors.co/export/pdf/ccdbdc-5fbff9-63c7b2-ed6a5a-263d42
$color-gray-light: #ccdbdc;
$color-blue: #5fbff9;
$color-green: #63c7b2;
$color-red: #ed6a5a;
$color-yellow: #f5cb5c;
$color-gray-dark: #263d42;
